//Font families
$normalFont: 'Outfit';
$styledFont: 'Young Serif';

//Font weights
$regularFont: 400;
$semiBoldFont: 600;
$boldFont: 700; 

//Primary colors
$nutMeg: hsl(14, 45%, 36%);
$darkRasberry: hsl(332, 51%, 32%);

//Neutral colors
$white: hsl(0, 0%, 100%);
$roseWhite: hsl(330, 100%, 98%);
$eggShell: hsl(30, 54%, 90%);
$lightGrey: hsl(30, 18%, 87%);
$wengeBrown: hsl(30, 10%, 34%);
$darkCharcoal: hsl(24, 5%, 18%);
